.home-container {
  display: flex;
  margin: 20px;
}

.main-content {
  flex: 1;
  margin-left: 20px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.page-link {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #0275d8;
  border-radius: 4px;
  color: #0275d8;
  text-decoration: none;
  font-weight: bold;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover {
  background-color: #0275d8;
  color: #ffffff;
}

.active .page-link {
  background-color: #0275d8;
  color: #ffffff;
  border: 1px solid #0275d8;
}

.break {
  margin: 0 5px;
  padding: 8px 12px;
  color: #0275d8;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.disabled .page-link {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.disabled .page-link:hover {
  background-color: #ffffff;
  color: #ccc;
  border-color: #ccc;
}
