

   .failure-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .failure-modal h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
  }
  
  .failure-modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .failure-modal select,
  .failure-modal textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .error-message {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-buttons button:first-child {
    background-color: #007bff;
    color: white;
  }
  
  .modal-buttons button:first-child:hover {
    background-color: #0056b3;
  }
  
  .modal-buttons button:last-child {
    background-color: #ccc;
  }
  
  .modal-buttons button:last-child:hover {
    background-color: #bbb;
  }
  



  .btn-complete, .btn-failure {
    /* display: flex; */
    align-items: center;
    gap: 5px;
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
  }
  .btn-view-detail {
    /* display: flex; */
    align-items: center;
    gap: 5px;
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(8, 8, 8);
  }
  
  .btn-complete {
    background-color: #28a745;
  }
  
  .btn-complete:hover {
    background-color: #218838;
  }
  
  .btn-failure {
    background-color: #dc3545;
  }
  
  .btn-failure:hover {
    background-color: #c82333;
  }

  .btn-view-detail {
    background-color: #f1f9f3;
  }
  
  .btn-view-detail:hover {
    background-color: #07e821;
  }
  
  .icon {
    font-size: 16px;
  }
  