/* OrderDetail.css */
.order-detail {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .order-info p {
    margin: 10px 0;
  }
  
  .order-summary {
    margin-top: 20px;
  }
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    font-weight: bold;
  }
 
  
  .weight-div {
    margin-top: 10px;
  }
  
  .shipping-info {
    margin-top: 20px;
  }
  
  .order-summary p,
  .order-summary h3 {
    margin: 10px 0;
    text-align: right;
  }
  
  .cancel-order {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .cancel-order button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-order button:hover {
    background-color: #d42830;
  }

  
  .complete-order {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .complete-order button {
    background-color: #50ff4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .complete-order button:hover {
    background-color: #288fd4;
  }
  
  .fail-note-for-customer {
    color: #ff4d4f;
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    text-decoration: dashed;
  }
  /* OrderItem.css */
  /* .order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .order-item-info span {
    flex: 1;
    text-align: center;
  }
   */